:root {

    --bs-body-font-family: 'Segoe UI', sans-serif;

    --bs-body-color: #000000;
    --bs-body-color-rgb: 0, 0, 0;

    --bs-body-bg: #FBF1D7;
    --bs-tertiary-bg-rgb: 251, 241, 215;

    --bs-secondary-color: #F0DCA8;
    --bs-secondary-rgb: 240, 220, 168;

    --bs-link-color-rgb: 0, 0, 0;
    --bs-link-hover-color-rgb: 192, 14, 62;

    --hero-font: "Agbalumo", system-ui;
    --header-font: "ADLaM Display", system-ui;

    --bs-body-font-size: 18px;

    --bs-info-rgb: 61, 127, 180;

    /* --bs-primary:#987dd3;
   --bs-primary-rgb: 152, 125, 211; */

    /* --bs-secondary: #7d82b8;
   --bs-secondary-rgb: 125, 130, 184; */

    /* font sizes */
    --fs-1: clamp(1.5rem, 5vw, 5rem);
}

/* fonts */
.display-1 {
    font-family: var(--hero-font);
}

.display-6 {
    font-family: var(--header-font);
}

h2,
h3 {
    font-family: var(--header-font);
    color: #D51247;
    line-height: 38px;
}

.font-small {
    font-size: 16px;
}

.font-mid {
    font-size: 18px;
}

.font-large {
    font-size: 20px;
}

.lh-large {
    line-height: 38px;
}

/* burg */
.navbar-toggler {
    border: none;
}

/* change the burger icon to be larger and red */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28213, 18, 70, 0.927%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width: 2em;
    height: 2em;
}

.navbar {
    --bs-navbar-color: rgb(0, 0, 0);
    --bs-navbar-hover-color: rgb(0, 0, 0);
    --bs-navbar-active-color: #c00e3e;
    font-weight: 500;
}

.nav-link:focus,
.nav-link:hover {
    color: #D51247;
}

.dropdown-menu {
    --dropdown-link-hover-color: #e1d1a8;
    --bs-dropdown-link-hover-bg: #F0DCA8;
    --bs-dropdown-link-active-bg: #B4A06B;
    --bs-dropdown-link-active-color: black;
    --bs-dropdown-border-radius: 0;
    border: none;
}

.btn {
    --bs-btn-font-family: "ADLaM Display", system-ui;
    --bs-btn-color: #FFEDBF;
    --bs-btn-font-size: 20px;
}

.btn-info {
    --bs-btn-color: #FFEDBF;
    --bs-btn-bg: #3D7FB4;
    --bs-btn-border-color: #3D7FB4;

    --bs-btn-hover-color: #FFEDBF;
    --bs-btn-hover-bg: #1C5A8D;
    --bs-btn-hover-border-color: #1C5A8D;

    --bs-btn-active-color: #FFEDBF;
    --bs-btn-active-bg: #103E63;
    --bs-btn-active-border-color: #103E63;

}

.btn-danger {
    --bs-btn-color: #FFEDBF;
    --bs-btn-bg: #D51247;
    --bs-btn-border-color: #D51247;

    --bs-btn-hover-color: #FFEDBF;
    --bs-btn-hover-bg: #970A30;
    --bs-btn-hover-border-color: #970A30;

    --bs-btn-active-color: #FFEDBF;
    --bs-btn-active-bg: #621329;
    --bs-btn-active-border-color: #621329;
}

/* skip link */
.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    display: block;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

/* hero section */
#hero-image {
    height: 310px;
    width: 100%;
    object-fit: cover;
}

#hero-content {
    position: absolute;
    background: rgba(0, 0, 0, 0.34);
}

.featured-pet img {
    object-fit: cover;
}

ul.paw-bullets {
    list-style: none;
    padding-left: 0;
}

ul.paw-bullets li {
    display: flex;
    align-items: center;
    gap: 0.75em;
    margin-bottom: 1em;
}

ul.paw-bullets li::before {
    content: "";
    background-image: url('../images/paw.svg');
    flex-shrink: 0;
    width: 2em;
    height: 2em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#kpi img {
    width: 300px;
    height: 300px;
}

/* more cards */
#more_cards a:hover h3,
#more_cards a:focus h3 {
    background-color: rgba(0, 0, 0, 0.50);
}

#more_cards a h3 {
    transition: background-color 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.25);
}

#more_cards a:hover {

    animation: pulse;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.5s;
    /* don't forget to set a duration! */
}

/* cats */
.card-title {
    font-family: var(--header-font);
}

#cat-list p:first-of-type,
#cat-list label {
    font-family: var(--header-font);
}

#cat-list p:first-of-type {
    font-size: 25px;
}


/* tablet style */
@media (min-width: 768px) {
    #hero-image {
        height: 470px;
    }
}


/* desktop style */
@media (min-width: 1200px) {
    #hero-image {
        height: 582px;
    }

}